$primary:#005f99;
$offwhite:#f8f9f9;
$white:#ffffff;
$black: #000000;
$paleGreen: #0097fa; // Customize this as per your design
$yellowAccent: #FFC857; // Customize this as per your design
$secondary-color: #757575; // light gray for description
$background-color: #f9f9f9; // off-white background
$card-bg-color: #467a9b;


$font-size-title: 2rem;
$font-size-description: 1rem;
$btn-padding: 0.75rem 1.5rem;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat-header{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.montserrat-paragraph{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.montserrat-small{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}



$card-border-radius: 0.375rem;
$service-padding: 1.5rem 2rem;
$hover-transition: 0.3s;